<html>
<head>
    <title>{{ title }}</title>
   
</head>
<body>

    {% extends "layout.html" %}
    {% block content %}


    <h1>ADD A MOVIE</h1>

    <div class="container">
        <form method="POST" action="">
            <div class="form-group">
                <label for="title">Title: </label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
                <label for="year">Year: </label>
                <input type="text" class="form-control" name="year" required>
            </div>
            <div class="form-group">
                <label for="price">Price (in euros): </label>
                <input type="text" class="form-control" name="price" required>
            </div>
            <div class="form-group">
                <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Genre</label>
                    <select class="custom-select mr-sm-2" name="genre" required>
                        <option selected>Genre</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Action">Action</option>
                        <option value="Animation">Animation</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Drama">Drama</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Horror">Horror</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Romance">Romance</option>
                        <option value="Historical">Historical</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="title">Duration (in minutes): </label>
                <input type="text" class="form-control" name="duration" required>
            </div>
            <div class="form-group">
                <label for="description">Cast: </label>
                <textarea class="form-control" name="cast" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="description">Description: </label>
                <textarea class="form-control" name="description" rows="5" required></textarea>
            </div>
            <br><br>

            <h4>
                Days and houres </h4>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="monday">
                            <label class="form-check-label" for="monday">
                                Monday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hourmonday">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="tuesday">
                            <label class="form-check-label" for="tuesday">
                                Tuesday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hourtuesday">
                    </div>

                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="wednesday">
                            <label class="form-check-label" for="wednesday">
                                Wednesday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hourwednesday">
                    </div>

                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="thusday">
                            <label class="form-check-label" for="tuesday">
                                Thusday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hourthusday">
                    </div>

                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="friday">
                            <label class="form-check-label" for="friday">
                                Friday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hourfriday">
                    </div>

                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="saturday">
                            <label class="form-check-label" for="saturday">
                                Saturday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hoursaturday">
                    </div>

                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="sunday">
                            <label class="form-check-label" for="sunday">
                                Sunday
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Start time" name="hoursunday">
                    </div>

                </div>
                <br><br>
                <h4>Insert cover photo</h4>
                <div class="form-group">
                    <input type="file" class="form-control-file" name="coverphoto">
                </div>
                <br><br>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="available">
                    <label class="form-check-label" for="available">
                        AVAILABLE
                    </label>
                </div>
                <br><br>

                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    {% endblock %}
</body>
</html>