<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}

    <h1>MANAGE YOUR MOVIES</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="manageFilm.html">
                    <img src="\static\immagini\film.jpg" height="200" width="130" />
                </a>
            </div>
            <div class="col-sm">
                <a href="manageFilm.html">
                    <img src="\static\immagini\film.jpg" height="200" width="130" />
                </a>
            </div>
            <div class="col-sm">
                <a href="manageFilm.html">
                    <img src="\static\immagini\film.jpg" height="200" width="130" />
                </a>
            </div>
            <div class="col-sm">
                <a href="manageFilm.html">
                    <img src="\static\immagini\film.jpg" height="200" width="130" />
                </a>
            </div>
            <div class="col-sm">
                <a href="manageFilm.html">
                    <img src="\static\immagini\film.jpg" height="200" width="130" />
                </a>
            </div>
            <div class="col-sm">
                <a href="manageFilm.html">
                    <img src="\static\immagini\film.jpg" height="200" width="130" />
                </a>
            </div>
        </div>
    </div>


    {% endblock %}
</body>
</html>